<h1>Welcome to the HotShorts!</h1>
<br/>
<h4>This site tries to provide Hotkey sheets for all common applications on Windows, Linux and macOS.</h4>
<br/>
<h4><b>Start with:</b></h4>
<table class="table table-striped" style="width: 60%; background-color: #FFFFFF">
    <tr style="background-color: #FFFFFF">
        <td></td>
        <td></td>
        <td><button class="btn btn-default" routerLink="/program-search"><h4>Program Search and Overview</h4></button></td>
        <tD></tD>
        <td><button class="btn btn-default" routerLink="/program-create"><h4>Create a new Program</h4></button></td>
    </tr>
</table>
<br/>
<br/>
<img align="middle" alt="" style="width: 700px; height:600px;" src="images/dead.jpg">
<br>
<br>
<p>by Simon Eicher && Andreas Schneider</p>