<div style="overflow: auto">
<h1>Welcome to the HotShorts!</h1>
<br/>
<h4>This site provides Hotkey sheets for many common applications on Windows, Linux and macOS.</h4>
<br/>
<h4><b>Start with:</b></h4>
<table class="table table-striped" style="width: 60%; background-color: #FFFFFF">
    <tr style="background-color: #FFFFFF">
        <td></td>
        <td></td>
        <td><button class="btn btn-default" routerLink="/programs"><h4>Program Search and Overview</h4></button></td>
        <tD></tD>
        <td><button class="btn btn-default" routerLink="/programs/program-create"><h4>Create a new Program</h4></button></td>
    </tr>
</table>
<br/>
<br/>
<img align="middle" alt="" style="width: 700px; height:600px;" src="images/dead.jpg">
<br>
<div style="margin-right: 30%">
    <br>
    <br>
    <h3><b>Why is it important to know your hotkeys?</b></h3>
    <br>
    <p style="text-align: justify">Many powerful programs have a vast amount of possible actions. Searching for them in menus and submenus can be very cumbersome, that's why nearly all important actions in any program have hotkeys mapped to them.
    Hotkeys are essential to get work done fast in any program. You may know how to do something, but wouldn't it be great if you could do it <b>fast</b>? And this is where hotkeys come in handy.
    Also sometimes the right use of hotkeys is the crucial factor in winning or losing a ranked match in an online game. When you don't know your hotkeys you will fail, like that guy in the video below. And then terrible things happen. Don't be like that, know your Hotkeys!</p>
    <br>
    <video controls="true" width="100%">
        <source src="../../images/keyboard_slap.mp4" type="video/mp4" />
    </video>
</div>
<br>
    <br>
    <br>
<p>by Simon Eicher && Andreas Schneider</p>
</div>