    <td style="font-weight: bold">{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>{{(item.ratingNr / item.ratingCount) | decimal: 2}}</td>
    <td>
        <input type="button"
               value="Show Summary"
               class="btn btn-default"
               (click)="showSummary()" />
    </td>
    <td>
        <a class="btn btn-default" [routerLink]="['programs/app', item.name]">Details</a>
    </td>
    <td>
        <input type="button"
               value="Delete"
               class="btn btn-danger"
               (click)="delete()" />
    </td>

