<h1>Find your Program</h1>

<div class="form-group">
    <label>Program Name:</label>
    <input [(ngModel)]="name" class="form-control">
</div>
<div class="form-group">
    <button class="btn" (click)="searchV3()">Suchen</button>
</div>
<div class="form-group">
    <button class="btn" (click)="getSummaryFromSelectedProgram()">ProgramSummary erstellen</button>
</div>


<div *ngFor="let p of programs | programFilter: name" class="col-xs-12 col-lg-3 col-md-4 col-sm-6 ">
    <program-entry
            [item]="p"
            [(selectedItem)]="selectedProgram">
    </program-entry>

    <!--
        [selectedItem]="selectedFlight"
        (selectedItemChange)="selectedFlight = $event">
    -->
</div>

<div>
<pre>Selected Program:
------------------------
<!--{{ selectedProgram | json }}-->
    {{ selectedProgramSummary | json }}
</pre>
<div *ngIf="selectedProgramSummary">
    <button *ngIf="selectedProgramSummary.versions.windows.length > 0" class="btn" (click)="goToProgramPageWithVersionId(selectedProgramSummary.versions.windows[0])">Windows</button><!-- Argument should be selectedProgramSummary.versions.windows[0]-->
    <button *ngIf="selectedProgramSummary.versions.linux.length > 0" class="btn" (click)="goToProgramPageWithVersionId(selectedProgramSummary.versions.linux[0])">Linux</button>
    <button *ngIf="selectedProgramSummary.versions.osx.length > 0" class="btn" (click)="goToProgramPageWithVersionId(selectedProgramSummary.versions.osx[0])">OS X</button>
</div>
</div>