<h1>Program Overview</h1>

<div class="form-group">
    <label>Search for a Program:</label>
    <input [(ngModel)]="name" class="form-control">
</div>
<div>
    <h2>Without Default Selection</h2>

    <div class="acidjs-rating-stars">
        <form>
            <input type="radio" name="group-1" id="group-1-0" value="5" /><label for="group-1-0"></label><!--
        --><input type="radio" name="group-1" id="group-1-1" value="4" /><label for="group-1-1"></label><!--
        --><input type="radio" name="group-1" id="group-1-2" value="3" /><label for="group-1-2"></label><!--
        --><input type="radio" name="group-1" id="group-1-3" value="2" /><label for="group-1-3"></label><!--
        --><input type="radio" name="group-1" id="group-1-4"  value="1" /><label for="group-1-4"></label>
        </form>
    </div>

    <h2>With Default Selection</h2>

    <div class="acidjs-rating-stars">
        <form>
            <input type="radio" name="group-2" id="group-2-0" value="5" /><label for="group-2-0"></label><!--
        --><input type="radio" name="group-2" id="group-2-1" value="4" /><label for="group-2-1"></label><!--
        --><input type="radio" checked="checked" name="group-2" id="group-2-2" value="3" /><label for="group-2-2"></label><!--
        --><input type="radio" name="group-2" id="group-2-3" value="2" /><label for="group-2-3"></label><!--
        --><input type="radio" name="group-2" id="group-2-4"  value="1" /><label for="group-2-4"></label>
        </form>
    </div>

    <h2>Disabled</h2>

    <div class="acidjs-rating-stars acidjs-rating-disabled">
        <form>
            <input disabled="disabled" type="radio" name="group-3" id="group-3-0" value="5" /><label for="group-3-0"></label><!--
        --><input disabled="disabled" type="radio" checked="checked" name="group-3" id="group-3-1" value="4" /><label for="group-3-1"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-2" value="3" /><label for="group-3-2"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-3" value="2" /><label for="group-3-3"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-4"  value="1" /><label for="group-3-4"></label>
        </form>
    </div>

</div>
<!--div class="form-group">
    <button class="btn" (click)="searchV3()">Suchen</button>
</div-->
<!--div class="form-group">
    <button class="btn" (click)="getSummaryFromSelectedProgram()">ProgramSummary erstellen</button>
</div-->


<!-- When using program-entry.component.html as component-template: -->
<!--div *ngFor="let p of programs | programFilter: name" class="col-xs-12 col-lg-3 col-md-4 col-sm-6 ">
    <program-entry
            [item]="p"
            [(selectedItem)]="selectedProgram"
            (createProgramSummary)="getSummaryFromProgram($event)"
            (deleteProgram)="delete($event)">
    </program-entry>
</div-->

<table class="table table-striped" >
    <tr>
        <th>Program Name</th>
        <th>Description</th>
        <th>Avg. Rating</th>
        <th>Your Rating</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tbody *ngFor="let item of programs | programFilter: name">
    <tr>
        <td style="font-weight: bold">{{item.name}}</td>
        <td>{{item.description}}</td>

        <td style="width: 110px; color=goldenrod">
                <span *ngFor="let star of getStars((item.ratingNr/item.ratingCount) | decimal:1)">
                    <span type="checkbox" class="glyphicon glyphicon-star"></span>
                </span>
            <span *ngFor="let star of getStars(4.9 - ((item.ratingNr/item.ratingCount) | decimal:1))">
                    <span type="checkbox" class="glyphicon glyphicon-star-empty"></span>
                </span>
        </td>

        <td style="width: 110px; color=goldenrod">
                <span *ngIf="checkRatingValueForCorrectnes(alreadyRated[item.name])">
                    <span *ngFor="let star of getStars(alreadyRated[item.name])">
                        <span (click)="rateProgram(item, 5)" type="checkbox" class="glyphicon glyphicon-star"></span>
                    </span>
                    <span *ngFor="let star of getStars(5 - (alreadyRated[item.name]))">
                        <span (click)="rateProgram(item, 5)" type="checkbox" class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </span>
            <span *ngIf="!checkRatingValueForCorrectnes(alreadyRated[item.name])">
                    <span *ngFor="let star of getStars(5); let indexx = index" [attr.data-index]="i">
                        <span (click)="rateProgram(item, indexx+1)" type="checkbox" class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </span>

        </td>

        <td> <a class="btn btn-default" [routerLink]="['/app', item.name]"> ShortKeys
            <img alt="" style="width: 25px; height: 20px;" src="images/keys-icon.png"> </a>
            <p></p>
            <input type="button"
                   style="float: right;"
                   value="Summary"
                   class="btn btn-default"
                   (click)="getSummaryFromProgram(item)" />
        </td>

        <!--
        <td>
            <a class="btn btn-default" [routerLink]="['/app', item.name]">Details</a>
        </td>
        -->
        <td>
            <a class="btn btn-warning" [routerLink]="['/program-edit', item.name]">Edit</a>
            <p></p>
            <input type="button"
                   value="Delete"
                   class="btn btn-danger"
                   (click)="delete(item)" />
        </td>
    </tr>
    <tr *ngIf="selectedProgramSummary && selectedProgramSummary.name == item.name">
        <td></td>
        <td colspan="6" style="border: 0px; background-color: gainsboro">
                <h4>Summary</h4>
                <div>
                    <pre>
                        {{ selectedProgramSummary | json }}
                    </pre>
                    <p>Shortcut Pages available for: </p>
                    <div *ngIf="selectedProgramSummary">
                        <button *ngIf="selectedProgramSummary.versions.windows.length > 0" class="btn" style="background-color:lightblue" (click)="goToProgramPageWithVersionId(selectedProgramSummary.versions.windows[0])">Windows <img alt="" style="width: 35px; height: 35px;" src="images/win-icon.png"></button><!-- Argument should be selectedProgramSummary.versions.windows[0]-->
                        <button *ngIf="selectedProgramSummary.versions.linux.length > 0" class="btn" style="background-color:orange" (click)="goToProgramPageWithVersionId(selectedProgramSummary.versions.linux[0])">Linux <img alt="" style="width: 35px; height: 35px;" src="images/linux-icon.png"></button>
                        <button *ngIf="selectedProgramSummary.versions.osx.length > 0" class="btn" style="background-color:lightgray" (click)="goToProgramPageWithVersionId(selectedProgramSummary.versions.osx[0])">macOS <img alt="" style="width: 35px; height: 35px;" src="images/macOS-icon.png"></button>
                    </div>
                </div>
        </td>
    </tr>
    <tr *ngIf="selectedProgramSummary && selectedProgramSummary.name == item.name">
        <td></td>
    </tr>
    </tbody>
</table>
