<h1>Program Overview</h1>

<div class="form-group">
    <label>Search for a Program:</label>
    <input [(ngModel)]="name" class="form-control">
</div>
<!--div class="form-group">
    <button class="btn" (click)="searchV3()">Suchen</button>
</div-->
<!--div class="form-group">
    <button class="btn" (click)="getSummaryFromSelectedProgram()">ProgramSummary erstellen</button>
</div-->


<!-- When using program-entry.component.html as component-template: -->
<!--div *ngFor="let p of programs | programFilter: name" class="col-xs-12 col-lg-3 col-md-4 col-sm-6 ">
    <program-entry
            [item]="p"
            [(selectedItem)]="selectedProgram"
            (createProgramSummary)="getSummaryFromProgram($event)"
            (deleteProgram)="delete($event)">
    </program-entry>
</div-->

<table class="table table-striped" >
    <thead>
    <tr>
        <th>Program Name</th>
        <th>Description</th>
        <th>Avg. Rating</th>
        <th>Rate Application</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let item of programs | programFilter: name">
    <tr>
        <td style="font-weight: bold">{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{(item.ratingNr / item.ratingCount) | decimal: 2}}</td>
        <td>
            <div class="rating">
                <span (click)="rateProgram(item, 1)">☆</span>
                <span (click)="rateProgram(item, 2)">☆</span>
                <span (click)="rateProgram(item, 3)">☆</span>
                <span (click)="rateProgram(item, 4)">☆</span>
                <span (click)="rateProgram(item, 5)">☆</span>
            </div>
        </td>
        <td> <button class="btn"  (click)="goToProgramPageWithOsId(item,0)">
            <img alt="" style="width: 35px; height: 35px;" src="images/win-icon.png">
        </button></td>
        <td> <a class="btn btn-default" [routerLink]="['/app', item.name]">
            <img alt="" style="width: 35px; height: 35px;" src="images/linux-icon.png">
        </a></td>
        <td> <a class="btn btn-default" [routerLink]="['/app', item.name]">
            <img alt="" style="width: 35px; height: 35px;" src="images/macOS-icon.png">
        </a></td>

        <!--
        <td>
            <a class="btn btn-default" [routerLink]="['/app', item.name]">Details</a>
        </td>
        -->
        <td>
            <input type="button"
                   value="Summary"
                   class="btn btn-default"
                   (click)="getSummaryFromProgram(item)" />
        </td>
        <td>
            <a class="btn btn-warning" [routerLink]="['/program-edit', item.name]">Edit</a>
        </td>
        <td>
            <input type="button"
                   value="Delete"
                   class="btn btn-danger"
                   (click)="delete(item)" />
        </td>
    </tr>
    <tr *ngIf="selectedProgramSummary && selectedProgramSummary.name == item.name">
        <td></td>
        <td colspan="6" style="border: 0px; background-color: gainsboro">
                <h4>Summary</h4>
                <div>
                    <pre>
                        {{ selectedProgramSummary | json }}
                    </pre>
                    <p>Shortcut Pages available for: </p>
                    <div *ngIf="selectedProgramSummary">
                        <button *ngIf="selectedProgramSummary.versions.windows.length > 0" class="btn" style="background-color:lightblue" (click)="goToProgramPageWithVersionId(selectedProgramSummary.versions.windows[0])">Windows</button><!-- Argument should be selectedProgramSummary.versions.windows[0]-->
                        <button *ngIf="selectedProgramSummary.versions.linux.length > 0" class="btn" style="background-color:orange" (click)="goToProgramPageWithVersionId(selectedProgramSummary.versions.linux[0])">Linux</button>
                        <button *ngIf="selectedProgramSummary.versions.osx.length > 0" class="btn" style="background-color:lightgray" (click)="goToProgramPageWithVersionId(selectedProgramSummary.versions.osx[0])">macOS</button>
                    </div>
                </div>
        </td>
    </tr>
    <tr *ngIf="selectedProgramSummary && selectedProgramSummary.name == item.name">
        <td></td>
    </tr>
    </tbody>
</table>
