<div>
    <h3><b>Shortcut List <img alt="" style="width: 32px; height: 25px;" src="images/keys-icon.png"></b></h3>


    <h2>
        <span class="rating">
          <span type="checkbox" class="glyphicon glyphicon-star"></span>
          <span type="checkbox" class="glyphicon glyphicon-star-empty"></span>
        </span>
    </h2>

    <table class="table table-striped"><!-- style="border: 1px solid black" -->
        <!-- Shortcut - Programm OS and Version Info -->
        <tr>
            <td colspan="3" style="border: 0px; background-color: #FFFFFF">
                <h4>OS: {{versionInfo?.osType | osVersion: 'long'}}</h4>
            </td>
            <td colspan="2" style="border: 0px; background-color: #FFFFFF">
                <h4>Version: {{versionInfo?.versionText}}</h4>
            </td>
        </tr>
        <tr style="background: #dfdfdf;">
            <th>Hotkey</th>
            <th>Short Description</th>
            <th>Long Description</th>
            <th>Avg. Rating</th>
            <th>Your Rating</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let item of shortcuts" style="padding: 15px;">
            <td style="width: 95px">{{item.keyCode}}</td>
            <td>{{item.descriptionShort}}</td>
            <td>{{item.description}}</td>

            <td style="width: 105px; color=goldenrod">
                <span *ngFor="let star of getStars((item.ratingNr/item.ratingCount) | decimal:1)">
                    <span type="checkbox" class="glyphicon glyphicon-star"></span>
                </span>
                <span *ngFor="let star of getStars(4.9 - ((item.ratingNr/item.ratingCount) | decimal:1))">
                    <span type="checkbox" class="glyphicon glyphicon-star-empty"></span>
                </span>
            </td>

            <td style="width: 105px; color=goldenrod">
                <span *ngIf="checkRatingValueForCorrectnes(alreadyRated[item.id])">
                    <span *ngFor="let star of getStars(alreadyRated[item.id])">
                        <span type="checkbox" class="glyphicon glyphicon-star"></span>
                    </span>
                    <span *ngFor="let star of getStars(5 - (alreadyRated[item.id]))">
                        <span type="checkbox" class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </span>
                <span *ngIf="!checkRatingValueForCorrectnes(alreadyRated[item.id])">
                    <span *ngFor="let star of getStars(5); let indexx = index" [attr.data-index]="i">
                        <span (click)="rateProgram(item, indexx+1)" type="checkbox" class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </span>

            </td>
            <td>
                <a class="btn btn-warning" [routerLink]="['/shortcut-edit', item.id]">Edit</a>
            </td>
            <td>
                <input type="button"
                       value="Delete"
                       class="btn btn-danger"
                       (click)="delete(item)"/>
            </td>
        </tr>
    </table>

    <div>
        <button class="btn btn-default" (click)="goToShortcutCreate()">create new Shortcut</button>
        <!--a class="btn btn-default" [routerLink]="['/shortcut-create']">Create new Shortcut</a-->
    </div>
    <br>
    <p>
        --------------------------------------------------------------------------------------------------------------------------</p>
    <h3>All Versions:</h3>

</div>