<div>
    <h3><b>Shortcut List</b></h3>

    <table class="table table-striped"><!-- style="border: 1px solid black" -->
        <!-- Shortcut - Programm OS and Version Info -->
        <tr>
            <td colspan="3" style="border: 0px; background-color: #FFFFFF">
                <h4>OS: {{versionInfo?.osType | osVersion: 'long'}}</h4>
            </td>
            <td colspan="2" style="border: 0px; background-color: #FFFFFF">
                <h4>Version: {{versionInfo?.versionText}}</h4>
            </td>
        </tr>
        <tr style="background: #dfdfdf;">
            <th>Hotkey</th>
            <th>Short Description</th>
            <th>Long Description</th>
            <th>Avg. Rating</th>
            <th>New Rating</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let item of shortcuts" style="padding: 15px;">
            <td>{{item.keyCode}}</td>
            <td>{{item.descriptionShort}}</td>
            <td>{{item.description}}</td>
            <td>{{(item.ratingNr/item.ratingCount) | decimal:2}}</td>
            <td> TODO RATE </td>
            <td>
                <a class="btn btn-warning" [routerLink]="['/shortcut-edit', item.id]">Edit</a>
            </td>
            <td>
                <input type="button"
                       value="Delete"
                       class="btn btn-danger"
                       (click)="delete(item)" />
            </td>
        </tr>
    </table>

    <div>
        <button class="btn btn-default" (click)="goToShortcutCreate()">create new Shortcut</button>
        <!--a class="btn btn-default" [routerLink]="['/shortcut-create']">Create new Shortcut</a-->
    </div>
    <br>
    <p>-----------------------------------------------------------------------------------------------------------------</p>

</div>