<h1>{{program?.name}} Shortcut Page

    <h4 style="float: right">
        <span *ngFor="let star of getStars((program?.ratingNr/program?.ratingCount) | decimal:1)">
            <span type="checkbox" class="glyphicon glyphicon-star"></span>
        </span>
        <span *ngFor="let star of getStars(4.9 - ((program?.ratingNr/program?.ratingCount) | decimal:1))">
            <span type="checkbox" class="glyphicon glyphicon-star-empty"></span>
        </span>
    </h4>
</h1>
<p style="float: right"> {{(program?.ratingNr / program?.ratingCount)|decimal:2}} / 5</p>

<div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td *ngIf="program"  style="border: 0px; background-color: #FFFFFF">
                    <h4>{{program?.description}}</h4>
                </td>
                <td style="border: 0px; background-color: #FFFFFF">
                    <h4> </h4>
                </td>
                <td  style="border: 0px; background-color: #FFFFFF">

                </td>
            </tr>
            <tr>
                <td>
                    <h4><a href={{program?.website}}>  {{program?.website}} </a></h4>
                </td>
            </tr>
        </tbody>
    </table>

    <!--button class="btn" (click)="loadProgram()">ProgramSummary erstellen</button-->

</div>


<!-- embeded shortcut List, if a Version has been selected -->
<div>
    <router-outlet></router-outlet>
</div>

<!-- All Program Versions -->
<div>
    <table class="table table-striped">

        <!-- http://stackoverflow.com/questions/34164413/how-to-apply-filters-to-ngfor -->
        <!--div *ngFor="#item of itemsList" *ngIf="conditon(item)">{item | filter1 | filter2}</div-->
        <tbody>
            <tr style="border: 0px; background-color: transparent">
                <div *ngIf="programSummary?.versions?.windows.length > 0">
                    <h4><img alt="" style="width: 35px; height: 35px;" src="images/win-icon.png"> Windows Program Versions:</h4>
                    <div *ngFor="let v of programSummary.versions.windows">
                        <table class="table table-striped" style="width: 60%">
                            <thead>
                                <tr>
                                    <td style="width: 150px">
                                        <a [routerLink]="['/app', programSummary.name, 'version', v.id]"><h4>Vs. {{v.versionText}}</h4></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" [routerLink]="['/app', programSummary.name, 'version', v.id]">Show Shortcuts <img alt="" style="width: 25px; height: 20px;" src="images/keys-icon.png"></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning" [routerLink]="['/version-edit', v.id]">Edit</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" (click)="deleteVersion(v)">Delete</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </tr>
            <tr style="border: 0px; background-color: transparent">
                <div *ngIf="programSummary?.versions?.linux.length > 0">
                    <h4><img alt="" style="width: 35px; height: 35px;" src="images/linux-icon.png"> Linux Program Versions:</h4>
                    <div *ngFor="let v of programSummary.versions.linux">
                        <table class="table table-striped" style="width: 60%">
                            <thead>
                                <tr>
                                    <td style="width: 150px">
                                        <a [routerLink]="['/app', programSummary.name, 'version', v.id]"><h4>Vs. {{v.versionText}}</h4></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" [routerLink]="['/app', programSummary.name, 'version', v.id]">Show Shortcuts <img alt="" style="width: 25px; height: 20px;" src="images/keys-icon.png"></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning" [routerLink]="['/version-edit', v.id]">Edit</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" (click)="deleteVersion(v)">Delete</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </tr>
            <tr style="border: 0px; background-color: transparent">
                <div *ngIf="programSummary?.versions?.osx.length > 0">
                    <h4><img alt="" style="width: 35px; height: 35px;" src="images/macOS-icon.png"> macOS Program Versions:</h4>
                    <div *ngFor="let v of programSummary.versions.osx">
                        <table class="table table-striped" style="width: 60%">
                            <thead>
                                <tr>
                                    <td style="width: 150px">
                                        <a [routerLink]="['/app', programSummary.name, 'version', v.id]"><h4>Vs. {{v.versionText}}</h4></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" [routerLink]="['/app', programSummary.name, 'version', v.id]">Show Shortcuts <img alt="" style="width: 25px; height: 20px;" src="images/keys-icon.png"></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning" [routerLink]="['/version-edit', v.id]">Edit</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" (click)="deleteVersion(v)">Delete</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-default" [routerLink]="['/version-create']">Create New Program Version</a>
</div>

