<h1>Shortcut Page</h1>
<div>
    <h2>{{program?.name}}</h2>
    <br/>
    <p>{{program?.description}}</p>
    <br/>
    <p *ngIf="program">Website: {{program.website}}</p>
    <br/>
    <div>
        Rating: {{(program?.ratingNr / program?.ratingCount)|decimal:2}}
    </div>
    <!--button class="btn" (click)="loadProgram()">ProgramSummary erstellen</button-->

</div>
<div>
    <h2>Versions Overview</h2>
    <br/>
    <div *ngIf="programSummary?.versions?.windows.length > 0">
        <h3>Windows Versions:</h3>
        <div *ngFor="let v of programSummary.versions.windows">
            <a [routerLink]="['/app', programSummary.name, 'version', v.id]">{{v.versionText}}</a>
            <a class="btn btn-default" [routerLink]="['/version-edit', v.id]">Edit this Version</a>
        </div>
    </div>
    <div *ngIf="programSummary?.versions?.linux.length > 0">
        <h3>Linux Versions:</h3>
        <div *ngFor="let v of programSummary.versions.linux">
            <a [routerLink]="['/app', programSummary.name, 'version', v.id]">{{v.versionText}}</a>
            <a class="btn btn-default" [routerLink]="['/version-edit', v.id]">Edit this Version</a>
        </div>
    </div>
    <div *ngIf="programSummary?.versions?.osx.length > 0">
        <h3>OS X Versions:</h3>
        <div *ngFor="let v of programSummary.versions.osx">
            <a [routerLink]="['/app', programSummary.name, 'version', v.id]">{{v.versionText}}</a>
            <a class="btn btn-default" [routerLink]="['/version-edit', v.id]">Edit this Version</a>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-default" [routerLink]="['/version-create']">Create new Version</a>
</div>
<div>
    <router-outlet></router-outlet>
</div>
